
<span class="image-rounded-shadow khodorkovsky">
  <%= image_tag 'khodorkovsky.jpg', class: 'oligarch-image' %>
</span>
<span class="image-rounded-shadow abramovich">
  <%= image_tag 'abramovich.jpg', class: 'oligarch-image' %>
</span>
<span class="image-rounded-shadow prokhorov">
  <%= image_tag 'prokhorov.jpg', class: 'oligarch-image' %>
</span>
<span class="image-rounded-shadow berezovsky">
  <%= image_tag 'berezovsky.jpg', class: 'oligarch-image' %>
</span>
