
<span class="image-rounded-shadow" id="khodorkovsky">
  <%= image_tag 'khodorkovsky.jpg', class: 'oligarch-image spy-on-me' %>
</span>
<span class="image-rounded-shadow" id="abramovich">
  <%= image_tag 'abramovich.jpg', class: 'oligarch-image' %>
</span>
<span class="image-rounded-shadow" id="prokhorov">
  <%= image_tag 'prokhorov.jpg', class: 'oligarch-image' %>
</span>
<span class="image-rounded-shadow" id="berezovsky">
  <%= image_tag 'berezovsky.jpg', class: 'oligarch-image' %>
</span>
