<div class="navbar navbar-inverse navbar-fixed-top">
</div>

<div class="jumbotron masthead">
  <div class="container">

    <%#= render 'oligarch_pics' %>
    <h1>Oligarchs Anonymous</h1>
    <p>Where Soviet business magnates can chill out without Putin watching</p>
    <p>
      <%= link_to 'Look Around', khodorkovsky_path, class: "btn btn-primary btn-large" %>
    </p>

    <div class="oligarch-links">
      <ul>
        <li>Big Oil</li>
        <li>Manufacturing</li>
        <li>Agriculture</li>
        <li>Military</li>
      </ul>
    </div>
  </div>
</div>

<%#= render 'putin_modal' %>
