
.page-frame {
  position: relative;
}

#khodorkovsky {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100px;
  height: auto;
}

#abramovich {
  position: absolute;
  right: -50px;
  top: 0px;
  width: 100px;
  height: auto;
}

#berezovsky {
  position: absolute;
  left: -50px;
  top: -50px;
  width: 200px;
  height: auto;
}


#prokhorov {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 200px;
  height: auto;
}

.putin {
  position: relative;
  left: 100px;
}

.oligarch-links {
  list-style: none;
  & li 
  {
    display: inline;
    padding: 0 10px;
    color: rgba(255, 255, 255, 0.25);
  }
}


.image-rounded-shadow {
  display: inline-block;
  margin: 5px 5px 5px 5px;
  padding: 10px 10px 10px 10px;
  border: solid 1px #BDBED9;
  background-color:#F5F5F8;
  @include box-shadow(1px 1px 6px #888888);
  @include border-radius(10px);
}

.image-rounded-shadow img {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  @include border-radius(6px);
}